<h1><%= @airline[:name] %></h1>
    <div class="row">
        <div class="col-sm-7">
            <h3>Overall Perception:</h3>
            
            <div class="media">
                <div class="col-sm-1.5">
                    <i class="far fa-smile fa-3x"></i> 
                    <p><%= @love_count %> votes<p>   
                </div>
                <div class="col-sm-2">
                    <h5>Love it!</h5>  
                </div>
                <div class="col-sm-1.5">    
                    <i class="fas fa-heart-broken fa-3x"></i>
                    <p><%= @hate_count %> votes</p>
                </div>
                <div class="col-sm-2">
                    <h5>Hate it!</h5>
                </div>
            </div>
            <div>
                <h3>Airline Background:</h3> 
                
                <h6>Year Founded: <%= @airline[:founded] %></h6>
                <h6>Headquarters Location: <%= @airline[:hq] %></h6>
                <h6>CEO: <%= @airline[:ceo] %></h6>
                <h6>Number of Destinations: <%= @airline[:destinations] %></h6>
            </div>
        </div>
        <div class="col-sm-5">
            <h3>Testimonials:</h3>
                <div class="media">
                    <div class="col-sm-2.5">
                        <% for vote in @votes %>
                            <div class="media">
                                <% if vote[:love] %>
                                    <i class="far fa-smile fa-3x"></i> 
                                <% else %>
                                    <i class="fas fa-heart-broken fa-3x"></i>
                                <% end %>
                            </div>
                        <% end %>
                    </div>
                    <div class="col-sm-11">
                        <% for vote in @votes %>
                            <div class="media-body">
                                <div>
                                <b><%= @users_table.where(id: vote[:user_id]).to_a[0][:name] %></b> <i>Travelled on: <%= vote[:date] %></i>  
                                </div>               
                                <div> 
                                "<%= vote[:testimonial] %>"
                                </div>
                            </div>
                        <% end %>
                    </div>
                </div>
        </div>
    <div>
    
    <div class="row">
        <div class="col-sm-12">
            <div>
                <a href="/airlines/<%= @airline[:id] %>/votes/new" class="btn btn-primary">Vote now!</a>
            </div>
            <div>
                <small><i>Vote whether you love or hate <%= @airline[:name] %></i></small>
            </div>
        </div>
    </div>

    